<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="container">
        <h2>로그인</h2>
        <form id="registerForm">
            <input type="text" id="email" placeholder="아이디" required />
            <input type="password" id="password" placeholder="비밀번호" required />
            <button type="submit">로그인</button>
        </form>
        <p id="message"></p>
    </div>

    <script src="/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>