<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>TO-DO App</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="main-container">
    <h1 id="hTag"></h1>
    <p>할 일 관리를 시작해보세요!</p>

    <div class="buttons" id="authButton">
      <a href="/auth/register" class="btn">회원가입</a>
      <a href="/auth/login" class="btn">로그인</a>
    </div>
    <div class="buttons" id="logoutDiv">
      <a class="btn" id="logoutButton">로그아웃</a>
    </div>
    <div id="todoItemDiv">
      <input type="text" id="todoItem">
      <button id="addTodo">추가</button>
    </div>
  </div>
  <div id="todoListDiv">
      <ul id="todoList"></ul>
  </div>
  <script src="/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>